.icon {
    transform: scale(.5);
}

.main {
    display: inline-block;
    background: var(--gradient);
}

.carousel {
    position: relative;
    display: flex;
    max-height: 100vh;
    overflow-y: hidden;
}

.item {
    position: relative;
    min-width: 100vw;
    overflow-x: scroll;
}

.gradient {
    position: relative;
    z-index: -1;
    display: block;
    width: auto;
    height: 90vh;
    object-fit: cover;
    object-position: 64% 45%;
}

.division {
    border-right: 1px solid grey;
    width: 10px;
    height: 50px;
}

.infotitle {
    color: var(--triadic);
}

.info {
    display: inline;
    color: var(--secondary);
}

.bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.dishdescription {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    color: var(--secondary);
    font-weight: 400;
}

.container-2 {
    display: block;
    height: 50px;
    border: 1px solid #fff;
}

.circle {
    width: 35px;
    height: 35px;
    border: 1px solid var(--border);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    user-select: none;
    transition: background-color 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.circle.mini {
    width: 8px;
    height: 8px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: transparent;
}

.circle.mini.selected {
    background-color: #fff;
}

.navigation {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    clear: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    z-index: 2;
    max-width: 100vw;
}

.pageindicator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.rowTop {
    min-height: 83px;
}

.dish {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    color: var(--primary);
}

.column {
    padding-right: 0px;
    padding-left: 0px;
}

.column-2 {
    padding-left: 0px;
}

.bookmark {
    position: fixed;
    transform: scale(.1);
    right: 0;
    left: -30px;
    transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    opacity: 0;
}

.showBookmark{
    opacity: 1;
    transform: scale(.2);
}

.bookmarked {
    background-color: var(--tetradic);
}


